services:
  docker-monitor:
    build:
      context: .
      dockerfile: service/app/monitor/Dockerfile
    image: docker-monitor:latest
    container_name: docker-monitor
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - ldl_network
networks:
  ldl_network:
    driver: bridge
